body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    font-size: 30px;
    background-image: url(/imagenes/evil-eyes.gif);
    background-size: 800px;
    background-position: top;
    background-size: 1200px;
    background-color: #020003;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;
}

li {
    margin-bottom: 30px;
}

a {
    color: white;
    background-color: #020003;
    border: 20px solid #020003;
    border-radius: 40px;
    text-decoration: none;
    text-decoration: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 54, 54);
    border-radius: 60px;
}